﻿@model fsca.Models.Accounts
@{
    ViewBag.Title = "CreateAcc";
}

<div>
    @using (Html.BeginForm("CreateAcc", "Home", FormMethod.Post))
    {
        <span style="color:red">
            @Html.ValidationSummary()
        </span> 
        @Html.LabelFor(m => m.FirstName)<br />
        @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First Name" })<br /><br />

        @Html.LabelFor(m => m.LastName)<br />
        @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last Name" })<br /><br />

        @Html.LabelFor(m => m.Email)<br />
        @Html.TextBoxFor(m => m.Email, new { @placeholder = "email@youremail.com" })<br /><br />

        @Html.LabelFor(m => m.DOB)<br />
        @Html.TextBoxFor(m => m.DOB, new { @placeholder = "dd/mm/yyyy" })<br /><br />

        @Html.LabelFor(m => m.Password)<br />
        @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password" })<br /><br />

        @Html.LabelFor(m => m.ConfirmPassword)<br />
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })<br /><br />
            
        @Html.CheckBox("tandc",true) 
        @Html.Label("I agree to the Terms and Conditions")<br />

        @Html.CheckBoxFor(m => m.Subscription) 
        @Html.LabelFor(m => m.Subscription)<br/>

        <input type="submit" value="CreateAcc" />
    }


</div>
