﻿@model fsca.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <span>@Html.ValidationSummary()</span>
    @Html.LabelFor(m => m.Email)<br />
    @Html.TextBoxFor(m => m.Email, new { @placeholder = "email@youremail.com" })<br /><br />
    @Html.LabelFor(m => m.Password)<br />
    @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password" })<br /><br />

    <input type ="submit" value="Login" />
    
}


</div>
 

